.btn-primary {
    background-color: #4d5088;
    border-color: #878ab3;
}

.btn-primary:hover {
    background-color: #130f40;
    border-color: #878ab3;
}

body{
    background-color: #c5dae9;
}

h1, h2 {
    color: #888eca;
    font-weight: bold;
}

#footer {
    text-align: center;
    background-color: #95afc0;
    font-family: 'Lucida Sans';
    padding: 5px;
    padding-top: 10px;
    color:#4d5088;
}

.col-6 h6 {
    font-style: oblique;
    text-align: left;
    padding-top: 25px;
}

.col-6 img {
    height: 95%;
}

#about {
    margin-top: 100px;
}

.card-title {
    color: #4d5088;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #888eca;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}

.navbar ul li a:focus {
    color: #888eca;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}

.navbar ul li a:active {
    color: #888eca;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}
